h1 {
  color: #745eed;
  font-size: 50px;
  border: 2px solid purple;
    border-radius: 50px;
  border-width: 200px;
}
p {
  color: darkcyan;
  font-size: 35px;
}
h2 {
  color: green;
  font-size: 45px;
}
body {
  background-color: #b3e6ff;
  text-align: center;
}
