h1 {
  color: #745eed;
  font-size: 60px;
  text-align: center;
  
}
p {
  color: black;
  font-size: 40px;
  text-align: center;
}
h2 {
  color: darkblue;
  font-size: 30px;
}
h3{
  color: darkblue;
  font-size: 30px;
}
body {
  background-color: #e6f7ff;

}
